/*
    ------------------------------------------------------------------------------------------------------------
    ------------------------------------------------------------------------------------------------------------
	------------------------------------------------------------------------------------------------------------
	
    Nariño en Foco Copyright © 2023 Nariño en Foco -
    Todos los derechos reservados
	
	------------------------------------------------------------------------------------------------------------
	------------------------------------------------------------------------------------------------------------
	------------------------------------------------------------------------------------------------------------
	------------------------------------------------------------------------------------------------------------
	
	*/
	/*Cokie*/
#cajacookies {
    background-color: rgb(246, 235, 214);
	font-family: Trebuchet MS, Verdana, Arial, Helvetica, sans-serif;
    color: #000;
    padding: 50px;
    position: fixed;
    top:  0px;
	text-align: center;
	width: 100%;
	display: none;
}
.cokie-polity {
	color: #778cdb;
	font-size: 12px;
}

.cokie-polity:hover {
	color: #819bff;
	transition: all 1s ease-out;
	text-decoration: underline ; 
}
.pull-right {
    padding: 10px;
    position: relative;
    left: -100px;
    background-color: #fff;
    border: 1px solid #d5d9d9;
    border-radius: 8px;
    box-shadow: rgba(213, 217, 217, .5) 0 2px 5px 0;
    box-sizing: border-box;
    color: #0f1111;
    cursor: pointer;
    display: inline-block;
    font-size: 12px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: middle;
    margin: 20px 20px;
}

.text-cokie {
	position: relative;
	left: -20px;
}

/*Cokie*/
