/*Parrafo Text*/
/*
    ------------------------------------------------------------------------------------------------------------
    ------------------------------------------------------------------------------------------------------------
	------------------------------------------------------------------------------------------------------------
	
    Nariño en Foco Copyright © 2023 Nariño en Foco -
    Todos los derechos reservados
	
	------------------------------------------------------------------------------------------------------------
	------------------------------------------------------------------------------------------------------------
	------------------------------------------------------------------------------------------------------------
	------------------------------------------------------------------------------------------------------------
	
	*/
    #more {
	display: none;
	}
	#moreDos {
	display: none;
	}
	#moreTres {
	display: none;
	}
	#moreCuatro {
	display: none;
	}
	#moreCinco {
	display: none;
	}
/*Parrafo Text*/